{{ readFile "../../bases.yaml" }}
---
repositories:
  - name: argo
    url: https://argoproj.github.io/argo-helm
releases:
  - name: argocd
    chart: argo/argo-cd
    namespace: argocd
    version: 8.2.2
    inherit:
      - template: default
