redis-ha:
  enabled: false

controller:
  replicas: 1

server:
  replicas: 1

repoServer:
  replicas: 1

applicationSet:
  replicas: 1

configs:
  cmp:
    create: true
    plugins:
      helmfile:
        discover: 
          filename: helmfile.yaml
        parameters:
          static:
            - name: name
              title: Helmfile Release name
              requred: true
        generate:
          command:
            - bash
            - "-c"
            - |
              if [[ -v ENV_NAME ]]; then
                helmfile -e $ENV_NAME -l name="$PARAM_NAME" template --include-crds -q
              else
                helmfile template -l name="$PARAM_NAME" template --include-crds -q
              fi
  #params:
  #  server.insecure: true
  repositories:
    helmfile-example:
      url: https://github.com/cloudandbuild/helmfile-example
      name: helmfile-example

repoServer:
  extraContainers: 
    - name: helmfile # argocd-cmp-cm ConfigMapのpluginで定義した名前と同じ名前にする
      command:
        - /var/run/argocd/argocd-cmp-server
      image: ghcr.io/helmfile/helmfile:v1.1.3
      env:
        - name: HELM_CACHE_HOME
          value: /tmp
        - name: HELM_CONFIG_HOME
          value: /tmp
        - name: ENV_NAME
          value: {{ .Environment.Name }} # helmfileコマンドの-eオプションにて指定した環境名が代入される
        # - name: SOPS_AGE_KEY_FILE
        #   value: /opt/sops/age/keys.txt
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
        fsGroupChangePolicy: "OnRootMismatch"
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: helmfile.yaml
          name: argocd-cmp-cm
        - mountPath: /tmp
          name: helmfile-tmp
        # - mountPath: /opt/sops/age/keys.txt
        #   subPath: keys.txt
        #   name: sops-age-key
  volumes:
    - name: argocd-cmp-cm
      configMap:
        name: argocd-cmp-cm
    - name: helmfile-tmp
      emptyDir: {}
    # - name: sops-age-key
    #   secret:
    #     secretName: sops-age-key