applications:
{{ range .Values.applications }}
  {{ .name }}:
    namespace: argocd
    project: default
    sources:
    - repoURL: https://github.com/cloudandbuild/helmfile-example
      path: ./
      targetRevision: HEAD
      plugin:
        name: helmfile
        parameters:
          - name: name
            string: {{ .name }}
    destination:
      server: https://kubernetes.default.svc
      namespace: {{ .namespace }}
{{- end }}